/* 
    IMPORTS 
    - CSS RESET
    - VARIABLES
    - DROP SHADOWS

    FONT USAGE 
    font-family: 'Pacifico', cursive;
    font-family: 'Red Hat Display', sans-serif;
*/
@import url(./reset.css);
@import url(./vars.css);

#error-container {
    margin: 5vh 0 0 0;
}

.error {
    color: var(--vine-red);
}

.error-input {
    color: var(--vine-red)!important;
    border-bottom: 2px solid var(--vine-red)!important;
}

.error-input::placeholder {
    color: var(--vine-red)!important;
}

body {
    font-family: 'Red Hat Display', sans-serif;

    background: var(--lighter-grey);
}

header {
    user-select: none;
    text-align: center;

    background: var(--dark-grey);
    box-shadow: var(--head-shadow);
}

header h1 {
    font-size: 62px;
    font-weight: 300;

    font-family: 'Pacifico', cursive;

    color: var(--lighter-grey);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main #icon-container {
    display: flex;
    justify-content: center;

    padding: 5vh 0 5vh 0;
}

#icon-container img {
    width: 125px;
}

main #text-container {
    width: 25vw;
}

main #text-container h2 {
    margin: 0 0 12.5px 0;
    font-size: 28px;
    font-style: italic;

    color: var(--dark-grey);
}

main #text-container p {
    font-size: 18px;
    font-weight: 300;

    color: var(--light-grey);
}

main #text-container p:nth-child(4) {
    padding: 0 0 15px 0;
}

main #text-container .noun{
    padding: 15px 0 45px 0;
    border-top: 1px solid var(--light-grey);
}

main button { 
    border: 0;
    width: 195px;
    height: 58px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: background 400ms;
    border-radius: 40px;

    font-size: 22px;
    font-weight: 800;
    color: var(--lighter-grey);
    background: var(--vine-red);
    box-shadow: var(--btn-shadow);
}

#sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#sign-up #container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 5vh 0 5vh 0;
}

#sign-up h2 {
    font-weight: 300;
    color: var(--light-grey);

    margin: 0 0 5vh 0;
}

#sign-up input{
    border: 0;
    height: 50px;
    width: 260px;

    margin: 0 0 5vh 0;
    background: none;
    color: var(--dark-grey);
    border-bottom: 2px solid var(--light-grey);
}

#sign-up input::placeholder {
    color: var(--light-grey);
}


/* 
    RIPPLE EFFECT
*/

span.ripple {
    position: absolute;
    transform: scale(0);
    border-radius: 50%;
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}